.img {
    border-radius: 500px;
    height: 40px;
    width: 40px;
    
}
.name {
   margin-top: 12px;
   margin-left: 16px;
   font-family: Noto Sans, sans-serif;
}
.star {
    color: gold;
}
.bold {
    color: black;
    font-weight: bold;
    margin-top: -16px;
    margin-left: 109px;
    font-family: Noto Sans, sans-serif;
}
.border {
    font-weight: 10px;
}
.clear {
    opacity: 0.5;
    margin: -10px;
    font-family: Noto Sans, sans-serif;
    margin-bottom: 50px;
    margin-left: 1px;
} 
.main {
    display: flex;
}
p {
    font-family: Noto Sans, sans-serif;
    margin-top: -11px;
}